.card_gamer {
  margin: 15px 5px;
  border: 1px solid black;
  border-radius: 10px;
  height: 140px;
  box-shadow: 3px 3px 10px 2px black;
  flex: 1;
}

h2,
h3 {
  margin: 5px 0;
}
h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}
